# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.xcarchive
*.dmg

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# Misc
*.moved-aside
*.hmap
*.ipa
